<div class="container">
  <form class="form-inline filter-form">
    <div class="form-group">
      <label for="categoryFilter">Find me the best </label>
      <select class="form-control filter-select" id="categoryFilter" ng-model="vm.categoryFilter">
        <option value="">Select category...</option>
        <option ng-repeat="category in vm.categories | orderBy: category">{{ category }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="genreFilter">books about </label>
      <select class="form-control filter-select" id="genreFilter" ng-model="vm.genreFilter">
        <option value="">Select genre...</option>
        <option ng-repeat="genre in vm.genres | orderBy: genre">{{ genre }}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control filter-input" placeholder="Search books..." ng-model="vm.bookSearch" id="bookSearch">
        <span class="input-group-addon search-icon">
          <!-- <button class="btn btn-default" type="button"> --><span class="glyphicon glyphicon-search" aria-hidden="true"></span><!-- </button> -->
        </span>
      </div>
    </div>
  </form>
  <book-listing dir-paginate="book in filteredBooks = (vm.books | filter: vm.filterCategory | filter: genre.name = vm.genreFilter | filter: vm.bookSearchFilter | itemsPerPage: 6)" info="book"></book-listing >
  <hr>
  <div class="row centered">
    <div class="col-sm-12 col-md-12">
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
</div>
